* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #153677, #4e085f);
  background-repeat: no-repeat;
  height: 100vh;
}

.countiner {
  margin: auto;
  width: 80%;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  list-style: none;
}
.Todo-list {
  padding-top: 20px;
}

.Todo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin-top: 80px;
  width: 40%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.Todo .todo-title {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  color: #153677;
}
.Todo .formTask {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  padding-left: 12px;
}

.formTask input {
  padding: 0 10px;
  width: 80%;
}

.formTask button {
  border: 1px solid black;
  padding: 5px 20px;
  align-self: center;
  cursor: pointer;
  border-radius: 6px;
  color: white;
  background-color: #153677;
}

.TasksList {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
}

.TasksList .task-group {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  gap: 10px;
}

.TasksList .task {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 90%;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(196, 193, 193);
}
.success-checked {
  display: flex;
  width: 90%;
  gap: 10px;
  padding: 10px 20px;
  background-color: green;
}
li .checkbox {
  width: 15px;
  height: 20px;
}

.task .task-title {
  font-size: 20px;
  font-weight: 600;
}

.line {
  color: white;
  text-decoration: line-through;
}
.btn-deleteTask {
  border: 1px solid black;
  padding: 12px 10px;
  align-self: center;
  cursor: pointer;
  border-radius: 8px;
  background-color: rgb(224, 29, 29);
}

@media screen and (max-width: 599px) {
  .TasksList .task-group {
    flex-wrap: wrap;
  }
  .Todo {
    width: 100%;
    padding: 20px;
  }

  .Todo .formTask {
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    align-items: center;
  }
  .formTask input {
    width: 100%;
    padding: 13px;
  }
}
@media screen and (min-width: 600px) and (max-width: 954px) {
  .Todo {
    width: 90%;
    padding: 20px;
  }
  .TasksList .task-group {
    flex-wrap: nowrap;
  }
}
